/* Text */
.text-primary {
    color: #28a745;
}

.text-secondary {
    color: #28a745;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 25px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-outline {
    background: transparent;
    border: 1px solid #f4f4f4;
}

.btn:hover {
    opacity: .9;
}

.btn-Primary, .bg-primary {
    background-color: #28a745;
    color: #fff;
}

.btn-secondary, .bg-secondary {
    background-color: #0284d0;
}

.btn-light, .bg-light {
    background-color: #f4f4f4;
    color: #333;
}

.btn-dark, .bg-dark {
    background-color: #333;
}

/* Flex rows */
.flex-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.flex-items > div {
    padding: 20px;
}

/* Flex Columns */
.flex-columns .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.flex-columns .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
    height: 100%;
}

.flex-columns .column .column-1 img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.flex-columns .column .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

.flex-columns .column .column-2 h2 {
    font-size: 34px;
    padding: 15px 0;
}

.flex-columns .column.flex-reverse .row {
    flex-direction: row-reverse;
}