/* Text */
.text-primary {
    color: #28a745;
}

.text-secondary {
    color: #28a745;
}

/* Buttons */
.btn {
    display: block;
    padding: 10px 18px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    opacity: .9;
}

.btn-secondary, .bg-secondary {
    background-color: #0284d0;
}

.btn-light, .bg-light {
    background-color: #f4f4f4;
    color: #333;
}

.btn-dark, .bg-dark {
    background-color: #333;
}

/* Flex rows */
.flex-items {
    display: flex;
}